body{
    height: 100%;
    /*background-image: url("../images/bgimage.jpg");*/
    overflow: hidden;

}
.header
{
   text-align: center;
    font-family: Arial;
    font-size: 25px;
    border-bottom: 0.5px solid gray;
    padding-bottom: 1%;
    padding-top: 1%;
}

/*Menu css */
.menu-bar
{
    height: 100vh;
    border-right : 1px solid gray;



}
.menu-bar ul{
    list-style-type: none;
    margin-left: -15%;



}
.menu-bar ul li{
    margin-left: 15px;
    width: 100%;
    /*border-bottom: 1px solid gray;*/

}
.menu-bar ul li a{
    text-decoration: none;
}
.menu_footer{
    position: fixed;
    bottom: 0px;

    margin-left: -1%;


}
.menu_footer ul {
    list-style-type: none;
    width: auto;




}
.menu_footer ul li {
    display: inline;
    margin-left: 20%


}
.menu_footer .glyphicon{
    font-size: 1.5em;
}



/*Conent container css*/
.content_container{
    height: 100%;
    padding: 3%;
}
.profile_img{
    height: 10%;
    width:12%;
    opacity: 0.6;
}
.member_container{
    align-content: center;
    text-align: center;
}
.member_container span{
    display: block;

}
.content_title{
    padding-bottom:1%;
    border-bottom: 1px solid gray;
}
.task{
    width: auto;
    border: 1px solid gray;
    height: auto;
    margin: 1%;
}
.task_content{
    margin: 20px;
}
 .task_description , .task_enddate ,.task_points{
    margin-left: 10%;
}
.task ul{
    float: right;
}
.task ul li{
    list-style-type: none;
    display: inline;
    font-size: 1.6em;
    margin-right: 5px;

}

/*Chatbox css*/
.chatbox_bar
{
    height: 100vh;
    border-left: 1px solid gray;


}
.send_message{
    bottom: 0px;
    position: fixed;
}
.title{
    margin-bottom: 15%;
}
.title span{
    float: right;
    position: relative;

}
