$primaryColor: #eeccff;
$secondaryColor : #ffffff;
$thirdcolor: #00ff00;
$fourthcolor : #dds28s;
body {
  $primaryColor: #ccc;
  background: $thirdcolor;
  transform-origin: center bottom;
;
}

p {
  color: $primaryColor;
}

// When compiled, our paragraph selector's color is #eeccff